<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-2">
        <h4>Hello Jhey</h4>
      </div>
      <div class="col-3">
        <div class="input-search d-flex align-items-center justify-content-between ">
          <label class="position-absolute">Search here</label>
          <input type="text" class="form-control w-100">
        </div>
      </div>
      <div class="col-7 d-flex align-items-center justify-content-evenly">
        <div class="actions-header">
          <button class="btn">New Upload</button>
          <ul>
            <li>bell</li>
            <li>msg</li>
            <li>litics</li>
          </ul>
        </div>
        <div class="profile d-flex align-items-center justify-content-evenly">
          <div class="info text-end">
            Jheyson Zurita
            <br>
            <small> <b class="text-secondary">FullStack Dev.</b> </small>
          </div>
          <div class="avatar">
            <img src="https://st.depositphotos.com/2305339/3011/i/950/depositphotos_30116669-stock-photo-profile-of-young-man-with.jpg" alt="foto">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>