/* You can add global styles to this file, and also import other style files */

* {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: #eceef6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5e488e;
  margin: 0;
  font-weight: 700;
}
